$bg-primary: #000000;
$bg-body: #434343;
$bg-film-content: #000000;
$bg-search: #52595F;
$bg-star-rating: #ffff00;
$text-color-header: #ff0000;
$star-fs: 1rem;
$border-load: #242424;
$text-label: #ffffff;
$text-info: #ffffff;
$text-label-select: #ffffff;

