$bg-primary: #000000;
$bg-body: #1a1a1a;
$bg-film-content: #000000;
$bg-search: #52595F;
$bg-input: #393939;
$bg-star-rating: #ffff00;
$text-color-header: #dd0000;
$text-color-white: #ececec;
$text-color-placeholder: #c6c6c6;
$bg-color-white: #ececec;
$star-fs: 1rem;
$border-load: #242424;
$border-search: #909090;
$text-label: #ffffff;
$text-info: #ffffff;
$text-label-select: #ffffff;
$header-logo-fs: 1rem;

