@use './variables' as *;

.stella{
    position: relative;
    display: inline-block;
    font-size: $star-fs;
    height: $star-fs;
    width: calc($star-fs * 1.125);
    z-index: 1;    
}

.stella .solid {
    // dimensione del font .stella / 1.28 perchè abbia una dimensione leggermente inferiore
    // al font-awesome della stella vuota per simularne lo riempimento conservando il bordo
    // della stella vuota anche in caso di completo riempimento
    font-size: calc($star-fs / 1.28); 
    color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

.star-solid-wrap{
    height: 100%;
    position: absolute;
    // calc di top e left che serve a centrare i due font sovrapposti
    top: calc(($star-fs - ($star-fs/1.325)) / 2);
    left: calc(($star-fs - ($star-fs/1.325)) /2);
    overflow: hidden;
    z-index: 4;
}

.stella .regular{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
}

.card-container{
    width: calc(100% / 5);
}

.d-inline-block{
    display: inline-block;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.m-auto{
    margin: auto;
}

.my-3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.me-3{
    margin-right: 1rem;
}

.mt-3{
    margin-top: 1rem;
}

.ps-5{
    padding-left: 3rem;
}

.p-3{
    padding: 1rem;
}

.p-4{
    padding: 2rem;
}

.list-style-none{
    list-style: none;
}

.rounded-circle{
    border-radius: 100%;
}

body{
    background-color: $bg-body;
}